<section id="contact" class="contact-section">
    <div class="container">
        <!--<div class="row">-->
            <div class="col-lg-12">
                <h1>Contact Us</h1>
                <address>
                    <h2>Sabbath House Ministry</h2>
                    <div class="tax"><span class="lbl">Tax code:</span><span>#47-1242768</span></div>
                    <div>
                        <h3>Sister Camille Martinez, SEC</h3>
                        <h3> Sister Jeannette Touchet, SEC</h3>
                    <div><span class="lbl">Email:</span>
                        <%= mail_to "camille@sabbathhouseministry.org", "camille@sabbathhouseministry.org",
                            subject:"Sabbath House Ministry"  %>
                    </div>
                    <div><span class="lbl">Phone:</span><span>337-998-9114</span></div>
                    </div>
                        <%= link_to image_tag("FB-FindUsonFacebook-online-144.png"), "https://www.facebook.com/sabbathHouseMinistry", :target => "_blank" %>
                </div>
            </address>
        <!--</div>-->
    </div>
</section>

<footer>
    <p>&copy; 2016 Sabbath House</p>
    <div>Icons made by <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>
