<div class="container event-page">
<div class="row">
<div class="col-lg-12">

<h1>Bereavement Ministry</h1>

<p>If you or someone you know has experienced the death of a loved one (a
spouse, friend, sibling, parent,child) you may want to consider participating in this five
weeks Bereavement Program. You do not have to be a Catholic, there is no time limit
as to when the person(s) died and there is no cost…<b>all are welcome</b>.</p>

<p>There is no easy way around the pain of losing a loved one. Grief has no rules
and no timetables. Understanding the grieving process can soothe the doubts that
linger. Learn about the “surprises” of grief and the emotions that affect you physically,
mentally, and spiritually. In this five week series, you will learn about normal grief and
hopefully gain a renewed sense of hope. Come and learn and ask questions to gather
hints about picking up the pieces after loss.</p>

<div>
    <div><span><b>When:</b> Tuesday Jan 16th , 23rd, 30th, Feb 6th, 13th</span></div>
    <div><span><b>Where:</b> Sabbath House 407 Second St. Jennings, LA</span></div>
    <div><span><b>Time:</b> 5:30 p.m.</span></div>
    <div><span>Contact Sister Jeannette if you have any questions. (337-304- 6383)</span></div>
    <div><span>*If possible please let me know if you are planning to attend so that I can make enough hand-outs for everyone.</span></div>
</div>

</div>
</div>
</div>
