<div class="container event-page">
<div class="row">
<div class="col-lg-12">

<h1>Bereavement Ministry</h1>

<p>Sister Jeannette Touchet, SEC will begin a Bereavement Support Group beginning Tuesday
August 23, 2016. </p>

<p>You do not have to be a Catholic and there is no cost simply your desire to
attend. There will be 5 sessions each lasting about an hour. These sessions will be held at the
Sabbath House located on 407 2nd Street in Jennings, LA on the following Tuesdays, August
23rd , 30th , Sept. 6th , 13th , and 20th.</p>

<p>If you or someone you know feel you might benefit from attending these sessions please know
you are most welcome. There is no timetable for bereavement and each person’s grief process is
unique because his/her relationship with the deceased was unique. Give yourself permission to
grieve for as long as you need. It is not enough to simply let time pass.</p>

<p>If you have any
questions or concerns please feel free to call me at 337-304- 6383. May God’s tender love and
care surround you with comfort and peace.</p>

<p>Bereavement Sessions are held 3 to 4 time a year.</p>

</div>
</div>
</div>
