<div class="container event-page">
<div class="row">
<div class="col-lg-12">

<h1>Fall Fridays</h1>

<p>
Sabbath House will host its fourth annual FALL FRIDAYS.  Writer Fran Sorin invites us to, 
"Slow down and take the time to enjoy the gloriosity of this season!"  Like all seasons, the season of fall is marked by profound changes.
Autumn winds break the summer's heat, change their hues in lovely burst of color 
falling gently to the ground, and the sun begins its annual retreat bringing less and less light to each new day.
</p>
<p>Theme: Call to Wait + Call to Watch + Call to Thanksgiving</p>
<p>Place: Sabbath House +NEW LOCATION+ 407 Second Street, Jennings</p>
<p>Dates (Thursdays): September 7, October 12 and November 9 @ 6 PM</p>
<p>Dates (Fridays): September 8, October 13 and November 10 @ NOON</p>

<p>A light meal will be provided for the noon group.</p>

<p class="bold">**Register by calling or texting 337-998- 9114 **</p>
</div>
</div>
</div>
</div>
