<div class="container event-page">
<div class="row">
<div class="col-lg-12">

<h1>Fall Fridays</h1>

<p>
As we prepare to end the YEAR OF MERCY we will focus on Fr. Paul Farren’s insightful
and gifting book, FREEDOM AND FORGIVENESS.
</p>
<p>Place: Sabbath House +NEW LOCATION+ 407 Second Street, Jennings</p>
<p>Dates: September 8, October 13 and November 10 @ 6 PM
September 9, October 14 and November 11 @ NOON</p>

<p>A light meal will be provided for the noon group.</p>

<p class="bold">**Register by calling or texting 337-998- 9114 **</p>
</div>
</div>
</div>
</div>
