<div class="container event-page">
<div class="row">
<div class="col-lg-12">

<h1>Lent - 2017</h1>

<p>This series is based on a book and DVD by Fr. Albert Haase, OFM.</p>

<p>Participants will reflect upon ways in discovering and responding to God’s Will in one’s life. Books will be available for purchase.</p>

<p>The six week sessions begin the first Thursday of Lent. Dates are the following: March 2, 9, 16, 23, 30 and April 6. The series will be offered at 10 am, and will be repeated at 6 pm.</p>

<p>To register please call 337-998- 9114, leaving your name, number, and whether you will attend the morning or evening sessions.</p>
</div>
</div>
</div>
